<!DOCTYPE html>
<html>
<head>
    <title>Employee List</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="container">
    <h3><a href="/employees/create">Create Employee</a></h3>
    <h1>Employee List</h1>
    <% if(employees.length > 0) { %>
        <table>
            <thead>
            <tr>
                <th>Employee Name</th>
                <th>Position</th>
            </tr>
            </thead>
            <tbody>

            <% for(var i = 0; i < employees.length;i++) { %>
                <tr>
                    <td><a href="/employees/show/<%= employees[i]._id %>"><%= employees[i].name %></a></td>
                    <td><%= employees[i].position %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } else { %>
        <div>No employees found.</div>
    <% } %>
</div>
</body>
</html>